body {
    margin: 0;
    background: url("Background.png");
    background-repeat: no-repeat;
    background-size: 1350px;
}

.header {
    height: 60px;
    width: 100%;
    box-shadow: 0px 1px 10px #888;
    ;
    background: #384F4E;
}

.container {
    width: 95%;
    margin: auto;
}

.logo {
    font-size: 32px;
    padding-top: 10px;
    width: 10%;
    color: #C33C54;
    float: left;
}

.nav {
    padding-top: 3px;
    width: 10%;
    float: right;
}

.nav ul {
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.nav ul li {
    padding: 0;
    display: inline-block;
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #37788E;
    transition: 0.2s;
}

.nav ul li a:hover {
    color: #F7EBEC;
    border-bottom: 1px;
}

.content {
    padding-top: 100px;
}

.search-intro {
    margin: auto;
    width: 80%;
    font-size: 64px;
    color: #C33C54;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#search-box {
    position: relative;
    width: 80%;
    margin: auto;
}

#search-form {
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

#search-text {
    font-size: 14px;
    color: #DDDDDD;
    border-width: 0;
    background: transparent;
}

#search-box input[type="text"] {
    width: 90%;
    padding: 11px 0 12px 1em;
    color: #333;
    outline: none;
}

#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 60px;
    font-size: 14px;
    color: #C33C54;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #384F4E;
    cursor: pointer;
    transition: 0.2s;
}

#search-button:hover {
    background-color: #37888E;
    color: #FFF;
}

.items {
    margin: 50px auto auto auto;
    box-shadow: 0px 2px 10px #888888;
    background: #FFF;
    padding: 20px;
    width: 95%;
}

.items p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.pictures-container {
    margin: auto;
    width: 89%;
}

.pictures {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-gap: 120px;
}

.pictures img {
    height: 180px;
    width: 180px;
    border: 1px solid #000;
    border-radius: 50%;
}
